.product-form {
    width: 14rem;
    max-width: 90%;
    margin: auto;
    display: block;
    border-radius: 1rem;
}

.product-item {
    width: 14rem;
    max-width: 90%;
    height: fit-content;
    margin: 1rem;
    border-radius: 1rem;
}

.product__title {
    font-size: 1.1rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
    font-size: 0.8rem;
}